<h2>About</h2>
<div class="divider"></div>
<p>This website is a project for the Technology Workshop class (INT3414 1) offered in Spring 2017.</p>
<div class="divider"></div>
<h4>Meet the Team</h4>
<p>Computer Science majors from <a href="http://uet.vnu.edu.vn">University of Engineering and Technology</a>, Vietnam National University, Hanoi.</p>
<ul>
  <li>Trần Như Thuật</li>
  <li>Đỗ Quang Thành</li>
  <li>Nguyễn Văn Tiến</li>
  <li>Lương Ngọc Huyền</li>
  <li>Phạm Nguyễn Hoàng</li>
</ul>
<div class="divider"></div>
<h4>Acknowledgements</h4>
<h5>Data source</h5>
<ul>
  <li>World countries information is provided by <a href="https://www.worlddata.info">WorldData.info</a>
  and <a href="https://github.com/mledoze/countries">mledoze/countries on GitHub</a>.</li>
  <li>World flags are taken from <a href="http://flagpedia.net/">Flagpedia</a>.</li>
  <li>Palestine flag and updated Myanmar flag are sourced from <a href="https://commons.wikimedia.org">Wikimedia Commons</a>.</li>
</ul>
<h5>Technologies</h5>
<ul>This website is built upon:
  <li><a href="https://angular.io">Angular</a></li>
  <li><a href="http://materializecss">Materialize</a></li>
</ul>
